# ID-COOLING FX240 LCD pump display (HOTSPOTEKUSB HID DEMO, 2000:3000)
# + MSI MYSTIC LIGHT note: NOT included on purpose (motherboard LED, out of scope).
#
# Install: sudo cp 99-fx-lcd.rules /etc/udev/rules.d/
#          sudo udevadm control --reload-rules && sudo udevadm trigger
# Then /dev/hidraw* for 2000:3000 is rw for the logged-in user, no root needed.

SUBSYSTEM=="hidraw", ATTRS{idVendor}=="2000", ATTRS{idProduct}=="3000", GROUP="users", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="2000", ATTRS{idProduct}=="3000", GROUP="users", MODE="0660", TAG+="uaccess"
